*{
    padding: 0;
    margin: 0;
}
body {
    margin: 0 auto;
    font-family: serif;
    background-color: #70524a;
}
a {
    color: #000;
    text-decoration: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #2f3542;
}
#addbox{
    width: 920px;
    margin: 0 auto;
}
#addbox h3{
    margin-top: 30px;
    padding: 10px;
    border-bottom: solid 2px #433431;
    font-size: 20px;
}
#list li{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 10px 10px 0;
    margin-bottom: 10px;
}
#list li:nth-child(1) span {
    font-weight: bold;
    color: #000;
}
#list li input {
    width: 30px;
}
#list span {
    text-align: center;
    color: #be8c7d;
}
#list .col0 {
    width: 30px;
    overflow: hidden;
}
#list .col1 {
    width: 80px;
    overflow: hidden;
    font-weight: bold;
}
#list .col2 {
    width: 70px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#list .col2 a {
    color: #be8c7d;
    font-weight: bold;
}
#list .col3 {
    width: 250px;
    overflow: hidden;
}
#list .col3 a {
    color: #be8c7d;
    font-weight: bold;
}
#list .col4 {
    width: 150px;
    overflow: hidden;
    font-weight: bold;
}
#list .col5 {
    width: 150px;
    overflow: hidden;
    font-weight: bold;
}
.userlist {
    background-color: #433431;
    border-radius: 10px;
}
.userlist form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
#page_num {
    text-align: center;
    margin: 30px 0;
}
#page_num li {
    display: inline;
}
#addbox .buttons {
    text-align: right;
    margin: 20px 0 40px 0;
}
#addbox .buttons li {
    display: inline;
}
#addbox .buttons button{
    padding: 5px 10px;
    cursor: pointer;
}