@charset "UTF-8";

html,body {
    position: relative;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.morethumb {
    width: 300px;
    height: 300px;
    margin-right: 20px;
}

.morethumb img {
    border-radius: 50%;
}

.info_wrap p:first-child {
    font-size: 3rem;
    font-weight: bold;
}

.info_wrap p {
    text-align: left;
    font-size: 2rem;
    margin: 0 0 30px 0;
}

.i_intro{
    width: 100%;
    text-align: center;
}

.intro_t{
    width: 100%;
    height: 100%;
    padding-top: 19.5%;
    text-align: center;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}