@charset "UTF-8";
/*----------------공통영역-------------*/
body {
  margin: 0 auto;
  font-family: serif;
  background-color: #120e10;
}
a {
  color: #000;
  text-decoration: none;
}
#wrap {
  margin: 0 auto;
}
/*----------------상단바 영역-------------*/
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1280px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  font-size: 20px;
  z-index: 1;
}
header > div {
  padding: 5px 0;
}
.logo {
  width: 250px;
  height: 250px;
  background: url(/hongber/css/image/logo.png);
  background-size: cover;
}
.logo span {
  color: #705d59;
  font-size: 38px;
  font-weight: bold;
}
.navbar_wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1030px;
  height: 40px;
  border-bottom: 3px solid #6a5f60;
  margin-top: 10px;
}
.navbar_wrap>div:last-child {
  margin-right: 20px;
}
.nav_p {
  line-height: 30px;
  color: #705d59;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.5px;
  margin-top: 13px;
}
.nav_p:hover {
  background-color: #705d59;
  color: #000;
}
.logout_nav {
  display: none;
  background-color: #fff;
}
/*------------------검색창------------------*/
.search_wrap {
  position: relative;
  line-height: 40px;
  text-align: right;
}

.searchbox {
  display: inline-block;
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: #524745;
  border: none;
  border-radius: 20px;
}

.searchbox::placeholder {
  padding-left: 10px;
  color: #fff;
}

.search_icon {
  display: inline-block;
  width: 30px;
  line-height: 30px;
  margin-left: -3px;
  background: url(/hongber/css/image/search.png) center center no-repeat;
  background-size: 80%;
  vertical-align: middle;
}

.search_btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  opacity: 0;
  cursor: pointer;
}
/*---------------------로그인 및 회원가입 영역------------------*/
.dropdown {
  position: relative;
  width: 100px;
  line-height: 50px;
  padding: 0;
  margin-top: 0;
  text-align: center;
}
.dropbtn {
  width: 100%;
  height: 30px;
  background-color: transparent;
  color: #705d59;
  padding: 0;
  border: none;
  margin-top: 13px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: serif;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 44px;
  right: 0;
  min-width: 180px;
  background-color: #000;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
  border-left: 0;
}
.dropdown-content a p {
  text-align: center;
  color: #705d59;
  font-size: 14px;
  font-weight: bold;
}
.dropdown-content a + a > p {
  border-top: 1px solid #bbb;
}
.dropdown-content p:hover {
  background-color: #705d59;
  color: #000;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn:hover {
  font-size: 16px;
  font-weight: bold;
}
/*----------------배너-------------*/
.banner_area {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 1280px;
  height: 600px;
  margin: -100px auto 0;
  background: url(/hongber/css/image/banner.jpg) center center no-repeat;
  background-size: cover;
}

.banner_left {
  width: 50%;
  height: 100%;
  background-color: #13171a;
  opacity: 0.3;
}

.banner_right {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #433431;
  opacity: 0.3;
}

.title {
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 100%;
  height: 120px;
  text-align: center;
}

.title p {
  width: fit-content;
  color: #fff;
  font-size: 70px;
  font-weight: bold;
  border-bottom: 2px solid #fff;
  text-align: center;
  margin: 0 auto 10px;
}

.title span:nth-child(2) {
  color: #bf9b8e;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}

.title span:last-child {
  color: #bf9b8e;
  font-weight: bold;
  border-bottom: 1px solid #bf9b8e;
  letter-spacing: 2px;
}
/*---------------------------------컨텐츠영역--------------------------------------*/
.slide_area {
  position: relative;
  width: 1280px;
  height: 500px;
  background-color: #b08273;
  margin: 0 auto;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000 !important;
}

.swiper-pagination-bullet {
  background-color: #000 !important;
}

.promote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1280px;
  height: 250px;
  background-color: #000;
  padding: 30px 0;
  margin: 0 auto;
}

.promote > div {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 10%;
}

.promote > div + div {
  margin-left: 50px;
}

.promote > div > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  line-height: 250px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10%;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
}

.promote > div > div > a {
  color: #fff;
  text-decoration: none;
}

.category1 {
  background: url(/hongber/css/image/sns.jpg) center center no-repeat;
  background-size: cover;
}

.category2 {
  background: url(/hongber/css/image/song.jpg) center center no-repeat;
  background-size: cover;
}

.category3 {
  background: url(/hongber/css/image/poster.jpg) center center no-repeat;
  background-size: cover;
}

.category4 {
  background: url(/hongber/css/image/person.jpg) center center no-repeat;
  background-size: cover;
}
/*-----------------------풋터영역-------------------------*/
footer {
  margin: 0 auto;
  width: 1280px;
  height: 50px;
  line-height: 50px;
  background: rgba(0, 0, 0, 1);
  border-top: 3px solid #705d59;
  color: #705d59;
  font-weight: bold;
  text-align: center;
}
/*-----------------------스크롤바--------------------------*/
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 5px;
}
body::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px white;
}