/*----------------------전체 반영--------------------*/
body {
  margin: 0 auto;
  font-family: serif;
  background: rgba(0, 0, 0, 0.9);
}
a {
  color: #000;
  text-decoration: none;
}
#wrap{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
/*----------------상단바 영역-------------*/
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1280px;
  height: 100px;
  background-color: rgba(0, 0, 0, 1);
  margin: 0 auto;
  font-size: 20px;
  z-index: 1;
}
header > div {
  padding: 5px 0;
}
.logo {
  width: 250px;
  height: 100px;
  background: url(/hongber/css/image/logo.png) center center no-repeat;
  background-size: contain;
}
.logo span {
  color: #705d59;
  font-size: 38px;
  font-weight: bold;
}
.navbar_wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1030px;
  height: 40px;
  border-bottom: 3px solid #6a5f60;
  margin-top: 10px;
}
.navbar_wrap>div:last-child {
  margin-right: 20px;
}
.nav_p {
  line-height: 30px;
  color: #705d59;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.5px;
  margin-top: 13px;
}
.nav_p:hover {
  background-color: #705d59;
  color: #000;
}
.logout_nav {
  display: none;
  background-color: #fff;
}
/*------------------검색창------------------*/
.search_wrap {
  position: relative;
  line-height: 40px;
  text-align: right;
}
.searchbox {
  display: inline-block;
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: #524745;
  border: none;
  border-radius: 20px;
}
.searchbox::placeholder {
  padding-left: 10px;
  color: #fff;
}
.search_icon {
  display: inline-block;
  width: 30px;
  line-height: 30px;
  margin-left: -3px;
  background: url(/hongber/css/image/search.png) center center no-repeat;
  background-size: 80%;
  vertical-align: middle;
}
.search_btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  opacity: 0;
  cursor: pointer;
}
/*-----------------------li--------------------------*/
.match_wrap{
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  background: #433431;
}
.search_Box{
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 70px;
  position: absolute;
  border-radius: 10px;
  z-index: 10;
}
.new_btn{
  background: #b08273;
  border-radius: 10px;
  font-size: large;
}
.old_btn{
  background: #b08273;
  border-radius: 10px;
  font-size: large;
}
.search_area{
  background: #b08273;
  border-radius: 10px;
  font-size: large;
}
.search_area::placeholder{
  color: #000;
}
.hot{
  width: 100%;
  height: 100px;
  line-height: 100px;
  font-size: 2.5rem;
}
.test{
  width: 300px;
  height: 300px;
}
.hot_content{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding-top: 50px;
  width: fit-content;
  height: fit-content;
  box-shadow: 0px 16px 26px 0px rgba(0,0,0,1);
}
.hot_p{
  position: absolute;
  font-size: 1.5rem;
  color: wheat;
  left: 0;
  top: 0;
  opacity: 0.7;
  margin: 20px 0 0 50px;
}
.hot_card{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  text-align: center;
  width: 300px;
  height: 300px;
  margin: 30px 10px 30px 10px;
  background: #b08273;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
  border-radius: 20px;
}
.hot_plus{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  margin: 5px 20px 0 0;
  background: none;
  border: none;
  z-index: 3;
}
.hot_plus img{
  width: 30px;
  height: 30px;
}
.hot_content::before{
  content: "";
  background: url(/hongber/css/image/banner.jpg) center center no-repeat;
  opacity: 0.3;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.hot_btn {
  background: none;
  border: none;
}
.hot_thumb{
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  margin-top: 10px;
  border-radius: 50%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
.hot_thumb > img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.hot_info{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  margin-left: 70px;
  border-radius: 20px;
  font-size: 1.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  background: #b08273;
}
.hot_name{
  font-size: 1.2rem;
  width: 200px;
  height: 20px;
  margin: 0;
}
.hot_email{
  font-size: 1.2rem;
  width: 200px;
  height: 20px;
}
.hot_img{
  position: absolute;
  width: 300px;
  height: 300px;
  margin-top: 0px;
  border-radius: 20px;
  z-index: 5;
  opacity: 0.95;
}
.hot_img > img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}
.hot_comment{
  margin-top: 10px;
  width: 370px;
  height: 120px;
  font-size: 1.1rem;
  border-radius: 5px;
  background: #b08273;
  resize: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
.hot_date{
  width: 230px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 10px;
  background: #b08273;
  box-shadow: 1px 8px 10px 0px rgb(0 0 0 / 20%);
}
.category_box{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: #fff;
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
.category_box a{
  position: relative;
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 50px;
  margin: auto 70px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 3px 5px 16px 1px rgba(0,0,0,1);
  color: wheat;
}
.category_box div::before{
  content: "";
  opacity: 0.4;
  border-radius: 10px;
  background-color: #000;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.honor_card{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 400px;
  height: 400px;
  justify-content: space-around;
  align-content: space-around;
  align-items: flex-start;
  margin: 30px 0 30px 20px;
  text-align: center;
  background: #b08273;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  border-radius: 20px;
}
.plus{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  margin-right: 5px;
  background: none;
  border: none;
}
.plus img{
  width: 40px;
  height: 40px;
}
.knock_btn {
  background: none;
  border: none;
}
.hm_thumb{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
.hm_thumb > img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.hm_info{
  width: 250px;
  margin-top: 30px;
  border-radius: 20px;
  font-size: 1.5rem;
  background: #b08273;
}
.hm_img{
  position: absolute;
  width: 400px;
  height: 400px;
  margin-top: 0px;
  border-radius: 20px;
  z-index: 5;
  opacity: 0.95;
}
.hm_img > img {
  width: 400px;
  height: 400px;
  border-radius: 20px;
}
.hm_comment{
  margin-top: 10px;
  width: 370px;
  height: 170px;
  font-size: 1.3rem;
  border-radius: 5px;
  background: #b08273;
  resize: none;
}
.hm_date{
  width: 300px;
  border-radius: 5px;
  font-size: 1.3rem;
  margin-top: 10px;
  background: #b08273;
}
.honor_card div{
  background: #b08273;
  box-shadow: 1px 8px 10px 0px rgba(0,0,0,0.2);
}
.send{
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border: none;
  background: none;
}
.send > img{
  width: 50px;
  height: 50px;
}
.flash {
  animation: flash 1s infinite alternate;
}
@keyframes flash {
  from {background-color: #433431;}
  to {background-color: #a51313;}
}
/*-----------------------스크롤바--------------------------*/
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
/*-----------------------등록영역--------------------------*/
.btn_box{
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
}
.reg_btn {
  position: absolute;
  background: #b08273;
  border-radius: 10px;
  top: 0;
  right: 0;
  width: 65px;
  font-size: large;
}
.drop_btn{
  display: none;
  position: absolute;
  background: #b08273;
  border-radius: 10px;
  top: 30px;
  right: 0;
  width: 65px;
  font-size: large;
}
.drop_btn1{
  display: none;
  background: #b08273;
  position: absolute;
  border-radius: 10px;
  top: 60px;
  right: 0;
  width: 65px;
  font-size: large;
}
/*-----------------------쪽지영역--------------------------*/
.send_li{
  position: fixed;
  bottom: 50px;
  right: 30px;
  width: 70px;
  height: 70px;
  padding: 0;
  border: none;
  border-radius: 10%;
  background: none;
  cursor: pointer;
}
.message_icon {
  width: 70px;
  height: 70px;
  background: url(/hongber/css/image/archive.png) center center no-repeat;
  background-size: 80%;
}
.btn-like .heart-shape {
  display: inline;
  color: red;
}
.btn-like {
  border: none;
  background-color: inherit;
}