/*----------------------전체 반영--------------------*/
body {
  margin: 0 auto;
  font-family: serif;
}
a {
  color: #000;
  text-decoration: none;
}
#wrap{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
/*----------------상단바 영역-------------*/
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1280px;
  height: 100px;
  background-color: rgba(0, 0, 0, 1);
  margin: 0 auto;
  font-size: 20px;
  z-index: 1;
}
.search_wrap{
  display: none;
}
header > div {
  padding: 5px 0;
}
.logo {
  width: 250px;
  height: 40px;
  padding: 30px 0;
  height: 30px;
  text-align: center;
}
.logo span {
  color: #705d59;
  font-size: 38px;
  font-weight: bold;
}
.navbar_wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1030px;
  height: 40px;
  border-bottom: 3px solid #6a5f60;
  margin-top: 10px;
}
.nav_p {
  line-height: 30px;
  color: #705d59;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.5px;
  margin-top: 13px;
}
.nav_p:hover {
  background-color: #705d59;
  color: #000;
}
.logout_nav {
  display: none;
  background-color: #fff;
}

/*-----------------------li--------------------------*/
.match_wrap{
position: relative;
display: flex;
flex-direction: row;
align-content: flex-start;
flex-wrap: wrap;
align-items: flex-start;
width: 1280px;
height: 100%;
margin: 0 auto;
background: #433431;
}
.search_Box{
  display: flex;
  position: absolute;
  left: 0;
}
.new_btn{
  background: #b08273;
}
.old_btn{
  background: #b08273;
}
.search_area{
  background: #b08273;
}
.search_area::placeholder{
  color: #000;

}
.honor_card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 290px;
  justify-content: space-around;
  align-content: space-around;
  align-items: flex-start;
  margin: 30px 0 30px 20px;
  text-align: center;
background: #b08273;
border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
.hm_thumb{
  width: 50px;
  height: 50px;
  border-radius: 50%;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
.hm_thumb > img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.hm_info{
  width: 200px;
  margin-top: 10px;
  border-radius: 5px;
background: #b08273;

}
.hm_img{
  width: 300px;
  height: 200px;
  margin-top: 0px;
  border-radius: 5px;
}
.hm_img > img {
  width: 270px;
  height: 190px;
  border-radius: 5px;
  margin-top: 5px;
}
.hm_comment{
  margin-top: 10px;
  width: 300px;
  height: 140px;
  border-radius: 5px;
  resize: none;
background: #b08273;

}
.hm_date{
  width: 300px;
  border-radius: 5px;
  margin-top: 10px;
  background: #b08273;

}
.honor_card div{
  background: #b08273;

  box-shadow: 1px 8px 10px 0px rgba(0,0,0,0.2);
}
.send{
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border: none;
  background: none;
}
.send > img{
  width: 50px;
  height: 50px;
}
/*-----------------------스크롤바--------------------------*/
body::-webkit-scrollbar {
width: 10px;
}
body::-webkit-scrollbar-thumb {
background-color: #2f3542;
border-radius: 10px;
}
body::-webkit-scrollbar-track {
background-color: grey;
border-radius: 10px;
box-shadow: inset 0px 0px 5px white;
}
/*-----------------------등록영역--------------------------*/
.reg_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 25px;
}
.reg_md_btn{
  position: absolute;
  top: 25px;
  right: 0;
  width: 65px;
  height: 25px;
}
.reg_rm_btn{
  position: absolute;
  top: 50px;
  right: 0;
  width: 65px;
  height: 25px;
}
/*-----------------------쪽지영역--------------------------*/
.send_li{
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 40px;
  margin-right: 40px;
  border: none;
  background-color: #fff;
}
.send_li > img{
  width: 50px;
  height: 50px;
}
.btn-like .heart-shape {
  display: inline;
  color: red;
}
.btn-like {
  border: none;
  background-color: inherit;
}