*{
    padding: 0;
    margin: 0;
}
body {
    margin: 0 auto;
    font-family: serif;
    background-color: #70524a;
}
a {
    color: #000;
    text-decoration: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
#msgbox{
    width: 1050px;
    margin: 0 auto;
}
#msgbox h3{
    margin-top: 30px;
    padding: 10px;
    border-bottom: solid 2px #433431;
    font-size: 20px;
}
#message li{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 10px 10px 0;
    margin-bottom: 10px;
}
#message li:nth-child(1) span {
    font-weight: bold;
    color: #000;
}
#message li input {
    width: 30px;
}
#message span {
    text-align: center;
    color: #be8c7d;
}
#message .col0 {
    width: 30px;
    overflow: hidden;
}
#message .col1 {
    width: 80px;
    overflow: hidden;
    font-weight: bold;
}
#message .col2 {
    width: 270px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#message .col2 a {
    color: #be8c7d;
    font-weight: bold;
}
#message .col3 {
    width: 250px;
    overflow: hidden;
}
#message .col3 a {
    color: #be8c7d;
    font-weight: bold;
}
#message .col4 {
    width: 150px;
    overflow: hidden;
    font-weight: bold;
}
#message .col5 {
    width: 150px;
    overflow: hidden;
    font-weight: bold;
}
.messagelist {
    background-color: #433431;
    border-radius: 10px;
}
.messagelist form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.messagelist span {
    float: left;
}
#page_num {
    text-align: center;
    margin: 30px 0;
}
#page_num li {
    display: inline;
}
#msgbox .buttons {
    text-align: right;
    margin: 20px 0 40px 0;
}
#msgbox .buttons li {
    display: inline;
}
#msgbox .buttons li+li {
    margin-left: 5px;
}
#msgbox .buttons button{
    padding: 5px 10px;
    cursor: pointer;
    background-color: #000;
    color: #8F7974;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
#source {
    text-align: center;
    font-size: large;
}

/*-----------------------스크롤바--------------------------*/
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 5px;
}
body::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px white;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(/hongber/css/image/loading.svg) center center no-repeat;
    background-size: cover;
    z-index: 50000;
}