*{
    padding: 0;
    margin: 0;
}
body {
    margin: 0 auto;
    font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}
a {
    color: #000;
    text-decoration: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #2f3542;
}
#msgbox{
    width: 1050px;
    margin: 0 auto;
}
#msgbox h3{
    margin-top: 30px;
    padding: 10px;
    border-bottom: solid 2px #2f3542;
    font-size: 20px;
}
#message li{
    padding: 10px 10px 10px 0;
    border-bottom: solid 1px #dddddd;
}
#message li:nth-child(1) {
    font-weight: bold;
}
#message li input {
    width: 30px;
}
#message span {
    display: inline-block;
    text-align: center;
}
#message .col0 {
    width: 30px;
    overflow: hidden;
}
#message .col1 {
    width: 80px;
    overflow: hidden;
}
#message .col2 {
    width: 270px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#message .col3 {
    width: 250px;
    overflow: hidden;
}
#message .col4 {
    width: 150px;
    overflow: hidden;
}
#message .col5 {
    width: 150px;
    overflow: hidden;
}
#page_num {
    text-align: center;
    margin: 30px 0;
}
#page_num li {
    display: inline;
}
#msgbox .buttons {
    text-align: right;
    margin: 20px 0 40px 0;
}
#msgbox .buttons li {
    display: inline;
}
#msgbox .buttons button{
    padding: 5px 10px;
    cursor: pointer;
}
#source {
    text-align: center;
    font-size: large;
}