@charset "UTF-8";

body {
  margin: 0 auto;
  font-family: serif;
  background: rgba(0, 0, 0, 0.9);
}

a {
  color: #000;
  text-decoration: none;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/*----------------상단바 영역-------------*/
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1280px;
  height: 100px;
  background-color: rgba(0, 0, 0, 1);
  margin: 0 auto;
  font-size: 20px;
  z-index: 1;
}
header > div {
  padding: 5px 0;
}
.logo {
  width: 250px;
  height: 100px;
  background: url(/hongber/css/image/logo.png) center center no-repeat;
  background-size: contain;
}
.navbar_wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1030px;
  height: 40px;
  border-bottom: 3px solid #6a5f60;
  margin-top: 10px;
}
.navbar_wrap>div:last-child {
  margin-right: 20px;
}
.nav_p {
  line-height: 30px;
  color: #705d59;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.5px;
  margin-top: 13px;
}
.nav_p:hover {
  background-color: #705d59;
  color: #000;
}
.logout_nav {
  display: none;
  background-color: #fff;
}
/*------------------검색창------------------*/
.search_wrap {
  position: relative;
  line-height: 40px;
  text-align: right;
}

.searchbox {
  display: inline-block;
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: #524745;
  border: none;
  border-radius: 20px;
}

.searchbox::placeholder {
  padding-left: 10px;
  color: #fff;
}

.search_icon {
  display: inline-block;
  width: 30px;
  line-height: 30px;
  margin-left: -3px;
  background: url(/hongber/css/image/search.png) center center no-repeat;
  background-size: 80%;
  vertical-align: middle;
}

.search_btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  opacity: 0;
  cursor: pointer;
}

.wrap_bgimg {
  position: relative;
  max-width: 1280px;
  padding-bottom: 1px;
  margin: 0 auto;
  background-color: #8C6055;
}

.content_wrap::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/hongber/css/image/content_background.jpg) center center no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.content_wrap {
  width: 100%;
  height: 100%;
}

.profile {
  position: relative;
  width: 50%;
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}

.profile_img {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 50px auto;
}

.profile_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;
}

.wheel_icon {
  position: absolute;
  right: -40px;
  bottom: 0;
  width: 35px;
  height: 35px;
  background: url(/hongber/css/image/wheel.png) center center no-repeat;
  background-size: 80%;
}

.avg_rating {
  font-size: 20px;
}

.profile_info {
  position: relative;
  width: 700px;
  height: auto;
  margin: 0 auto 50px;
  color: #fff;
  font-weight: bold;
}

.profile_info input {
  width: 100%;
  line-height: 30px;
  resize: none;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 25px;
  background-color: #433431;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.profile_info textarea {
  width: 100%;
  height: 70px;
  resize: none;
  box-sizing: border-box;
  margin-top: 10px;
  background-color: #433431;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.history {
  position: relative;
  width: 700px;
  margin: 0 auto;
}

.history_btn_wrap {
  text-align: right;
  margin: 0 auto 10px;
}

.history_btn_wrap input {
  width: 75px;
  height: 25px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #433431;
  color: #be8c7d;
}

.history_btn_wrap input:hover {
  background-color: #000;
  color: #8C6055;
}

.ing,
.finish {
  width: 100%;
  height: 250px;
  padding: 50px 0;
  margin: 0 auto 50px;
  overflow: auto;
  color: #be8c7d;
}

.ing {
  display: block;
  background-color: #433431;
}

.finish {
  display: none;
  background-color: #433431;
}

/* .addmore {
  width: 100%;
  height: 100%;
  font-size: larger;
  text-decoration: none;
  border: none;
  background: none;
} */

table {
  width: 90%;
  margin: 0 auto;
  background-color: #221c1b;
  border-radius: 10px;
  table-layout: fixed;
}

.ing > table:first-child,
.finish > table:first-child {
  margin-bottom: 10px;
}

td {
  width: 126px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  font-family: '나눔 고딕', NanumGothic;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}

.showmore:hover {
  white-space: normal;
}

/*-----------------------광고 수락 영역--------------------------*/
.wait_add {
  margin-bottom: 10px;
  border: none;
  background-color: #433431;
  border-radius: 5px;
}
.wait_add > img {
  width: 50px;
  height: 50px;
}
/*-----------------------쪽지영역--------------------------*/
.send_li {
  margin-bottom: 10px;
  border: none;
  background-color: #433431;
  border-radius: 5px;
}
.send_li > img {
  width: 50px;
  height: 50px;
}
.flash {
  animation: flash 1s infinite alternate;
}
@keyframes flash {
  from {background-color: #433431;}
  to {background-color: #a51313;}
}
/*-----------------------스크롤바--------------------------*/
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 5px;
}
body::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px white;
}

.ing::-webkit-scrollbar {
  width: 10px;
}
.ing::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 5px;
}
.ing::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px white;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url(/hongber/css/image/loading.svg) center center no-repeat;
  background-size: cover;
  z-index: 50000;
}