@charset "UTF-8";

body {
    margin: 0 auto;
    font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/*----------------상단바 영역-------------*/
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1280px;
  height: 50px;
  background-color: white;
  border-top: 3px solid #999;
  border-bottom: 3px solid #999;
  margin: 0 auto;
  font-size: 20px;
  z-index: 1;
}
header > div{
  line-height: 50px;
  padding: 5px 0;
}
.logo {
  margin-top: 5px;
  background: #2f3542;
  padding-top: 10px;
  height: 30px;
}
.logo span{
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  width: 100%;
  color: #fff;
}
.nav_p {
  line-height: 40px;
  font-size: 16px;
}
.nav_p:hover {
  border-bottom: 2px solid rgba(0,0,0,0.2)
}
.nav_a:hover {
  font-size: 18px;
  font-weight: bold;
}
.logout_nav {
  display: none;
  background-color: #fff;
}

.profile {
  width: 50%;
  padding-top: 50px;
  margin: 0 auto;
}

.profile_img {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 50px auto;
}

.profile_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.edit {
  position: absolute;
  right: -75px;
  bottom: -3px;
  width: 75px;
  height: 25px;
}

.profile_info {
  width: 700px;
  height: auto;
  margin: 0 auto 50px;
}

.profile_info input {
  width: 100%;
  line-height: 25px;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.profile_info input:last-child {
  margin-bottom: 0;
}

.profile_info textarea {
  width: 100%;
  height: 50px;
  resize: none;
  box-sizing: border-box;
}

.change_btn_wrap {
    text-align: center;
}

.change_btn_wrap input {
    width: 75px;
    height: 30px;
    box-sizing: border-box;
}

.cancel_btn {
    margin-left: 30px;
}

.secession {
  text-align: right;
  margin: 25px 50px 25px 0;
}