@charset "UTF-8";

body {
  margin: 0 auto;
  font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
  background: url(./image/search_back.jpg) center center no-repeat;
  background-size: cover;
  height: 2000px;
}
a {
  color: #000;
  text-decoration: none;
}
#wrap{
  margin: 0 auto;

  box-sizing: border-box;
  padding-top: 50px;
}
/*----------------상단바 영역-------------*/
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1280px;
  height: 100px;
  background-color: rgba(0, 0, 0, 1);
  margin: 0 auto;
  font-size: 20px;
  z-index: 1;
}
header > div {
  padding: 5px 0;
}
.logo {
  width: 250px;
  height: 100px;
  background: url(/hongber/css/image/logo.png) center center no-repeat;
  background-size: contain;
}
.logo span {
  color: #705d59;
  font-size: 38px;
  font-weight: bold;
}
.navbar_wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1030px;
  height: 40px;
  border-bottom: 3px solid #6a5f60;
  margin-top: 10px;
}
.navbar_wrap>div:last-child {
  margin-right: 20px;
}
.nav_p {
  line-height: 30px;
  color: #705d59;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.5px;
  margin-top: 13px;
}
.nav_p:hover {
  background-color: #705d59;
  color: #000;
}
.logout_nav {
  display: none;
  background-color: #fff;
}
/*------------------검색창------------------*/
.search_wrap {
  position: relative;
  line-height: 40px;
  text-align: right;
}
.searchbox {
  display: inline-block;
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: #524745;
  border: none;
  border-radius: 20px;
  text-align: left;
}
.searchbox::placeholder {
  padding-left: 10px;
  color: #fff;
}
.search_icon {
  display: inline-block;
  width: 30px;
  line-height: 30px;
  margin-left: -3px;
  background: url(/hongber/css/image/search.png) center center no-repeat;
  background-size: 80%;
  vertical-align: middle;
}
.search_btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  opacity: 0;
  cursor: pointer;
}
/*---------------------로그인 및 회원가입 영역------------------*/
.dropdown {
  position: relative;
  width: 100px;
  line-height: 50px;
  padding: 0;
  margin-top: 0;
  text-align: center;
}
.dropbtn {
  width: 100%;
  height: 90%;
  background-color: white;
  color: #000;
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  right: -1px;
  min-width: 180px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  border-left: 0;
}
.dropdown-content a p {
  font-size: 14px;
}
.dropdown-content a+a>p {
  border-top: 1px solid #bbb;
}
.dropdown-content p {
  text-align: center;
  color: black;
}
.dropdown-content p:hover {
  background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn:hover {
  border-bottom: 2px solid rgba(0,0,0,0.2);
  font-size: 16px;
  font-weight: bold;
}
/*---------------------세션 영역------------------*/
.profile_wrap {
  width: 960px;
  height: 300px;
  padding: 50px 30px;
  margin: 50px auto 0;
  background: #433431;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 5px 8px 10px 1px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}
.img_wrap {
  float: left;
  width: 200px;
  height: 200px;
}

.img_wrap img {
  width: 100%;
  height: 200px;
  border-radius: 50%;
}

.info_wrap {
  float: left;
  width: 690px;
  height: 200px;
}

input {
  height: 30px;
  text-align: center;
  box-sizing: border-box;
}

.input_name{
  width: 130px;
  margin-left: 15px;
  vertical-align: middle;
  border-radius: 10px;
  color: #be8c7d;
  background: #221c1b;
}

.input_email {
  width: 280px;
  margin-left: 5px;
  border-radius: 10px;
  color: #be8c7d;
  background: #221c1b;
  vertical-align: middle;
}

.input_who {
  width: 140px;
  margin-left: 5px;
  color: #be8c7d;
  border-radius: 10px;
  background: #221c1b;
  vertical-align: middle;
}
.knock{
  height: 30px;
  width: 90px;
  margin-left: 5px;
  border: 0.7px solid gray;
  color: #8C6055;
  border-radius: 5px;
  background: #221c1b;
  vertical-align: middle;
}
.knock:hover {
  background-color: #433431;
  color: #be8c7d;
}
textarea {
  display: block;
  width: 670px;
  height: 150px;
  margin: 20px 0 0 15px;
  border-radius: 10px;
  font-size: 12pt;
  border-radius: 5px;
  color: #be8c7d;
  box-sizing: border-box;
  background: #221c1b;
  resize: none;
}
/*------------------검색어------------------*/
.nav2 p {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: rgba(219, 200, 182, 0.6);
}
.none_here {
  margin: 0 auto;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 800px;
  line-height: 800px;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}
/*-----------------------스크롤바--------------------------*/
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 5px;
}
body::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px white;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url(/hongber/css/image/loading.svg) center center no-repeat;
  background-size: cover;
  z-index: 50000;
}